input#phone-number2, input#email-address2, input#location-address2 {
  display: none;
}

.detail {
  display: none;
}

li {
  list-style-type: none;
}

.names {
  font-size: 30px;
}

#buttons {
  display: none;
}

h1 h2 {
  text-align: center;
}

.edit {
  display: none;
}

#edit {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1 px;
  padding-left: 1px;
}